<div class="container">
	<div class="row">
             [% body_navbar %]
             [% body_breadcrumbs %]
             [% body_messages %]
    </div>
    <div class="row">
		<div class="col-sm-8">
		     [% body_content %]
		     [% body_comment %]
		 </div>
		<div class="col-sm-3 col-sm-offset-1">
		     [% body_sidebar %]
		</div>
    </div>
    <div class="row">
             [% body_footer %]
             [% body_querylog %]
    </div>
</div>
