.build
blib*
Makefile
Makefile.old
Build
Build.bat
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
pod2htm*.tmp
Catapulse-*
MYMETA.yml
MYMETA.json
share/catapulse-schema/*
share/catapulse-schema.db
