language: perl
perl:
  - "5.8"                     # normal pre-installed perl
  - "5.12"                    # installs latest perl 5.12 (if not already available)
  - "5.18"                    # installs latest perl 5.18 (if not already available)
  - "5.20"                    # installs latest perl 5.20 (if not already available)
  - "blead"                   # install perl from git
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libssh2-1-dev # to compile Net::SS2 in travis
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init
  - build-perl
  - perl -V
  - build-dist
  - cd $BUILD_DIR             # $BUILD_DIR is set by the build-dist command
install:
  - cpan-install --deps       # installs prereqs, including recommends
  - cpan-install --coverage   # installs coverage prereqs, if enabled
before_script:
  - coverage-setup
script:
  - perl Makefile.PL          # or Build.PL if it exists
  - make                      # or ./Build
  - prove -l -s -j$(test-jobs) $(test-files)
after_success:
  - coverage-report
