      <div class="row-fluid">
        <div class="span9">
          <footer>
            <p>&copy; Company 2015</p>
          </footer>
        </div>
      </div>

    </div><!--/.fluid-container-->
